body {
    font-family: Arial, sans-serif;
    background-color: #b72b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.clock {
    text-align: center;
}

#clock-display {
    font-size: 48px;
}
